doctype html

html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title CA4106 Cloud Computing
        link(rel="icon" href="/assets/logo.ico")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="/") Navbar
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")

        div(class="container-fluid")
            div(class="row")
                each movie in movies
                    div(class="col-lg-2")
                        div(class="card mx-2 mw-10" )
                            div(class="card-header" data-toggle=`modal` data-target=`#${movie.imdbID}`)
                                img(src=movie.Poster class="card-img-top" alt=movie.Title)
                            div(class="card-body")
                                h4(class="card-title")= movie.Title
                                h5(class="card-subtitle mb-2 text-muted")= `in ${movie.Year} `
                                h5(class="card-subtitle mb-2 text-muted")= `by ${movie.Director}`
                                p(class="card-text")= ` in ${movie.Plot.substring(30)}...`
                            div(class="card-footer")
                                each genre in movie.Genre.split(", ")
                                    span(class="badge badge-pill badge-primary align-middle")=genre
                                button(class="float-right" type="button" class="btn btn-info"
                                    data-toggle=`modal` data-target=`#${movie.imdbID}`) info

                    div(class="modal" id=`${movie.imdbID}` tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true")
                        div(class="modal-dialog" role="document")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title")= movie.Title
                                    div(class="modal-body")
                                        pre(id="json")=JSON.stringify(movie, undefined, 2)
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
